{{ 'section-image-with-text.css' | asset_url | stylesheet_tag }}
<div id="Image-with-text-{{ section.id }}" class="image-with-text {% if settings.scroll_appear == "fadein" %} fadeIn {% endif %}
      image-with-text--{{ section.settings.section_padding }}
      image-with-text--{{ section.settings.content_layout }}"
    style="background-color: {{ section.settings.background_color }};">
    <div class="{% unless section.settings.section_padding == 'none' %}page-width{% endunless %}
      {% if section.settings.full_width %}image-with-text--full-width{% endif %}">
        <div class="{% unless section.settings.animation contains 'No' %} animated{% endunless%} {{ section.settings.animation }} image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet
            {% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}
            {% if section.settings.mobile_layout == 'text_first' %} image-with-text__grid--reverse-mobile{% endif %}">
          {%- render 'image-with-text-media', image_hover: section.settings.image_hover -%}
          {%- render 'image-with-text-content', blocks: section.blocks -%}
        </div>
  </div>
</div>
{% assign section_selector = '#shopify-section-' | append: section.id %}
{% style %}
  @media screen and (max-width: 750px) {
    {{ section_selector }} .image-with-text {
      {% if section.settings.background_mobile_image %}
      background-image: url({{ section.settings.background_mobile_image | img_url: 'master' }});
      background-repeat: no-repeat;
      background-size: cover;
      {% endif %}
    }
  }

  @media screen and (min-width: 749px) {
    {{ section_selector }} .image-with-text {
      {% if section.settings.background_desktop_image %}
      background-image: url({{ section.settings.background_desktop_image | img_url: 'master' }});
      background-repeat: no-repeat;
      background-size: cover;
      {% endif %}
    }
  }

  #Image-with-text-{{ section.id }} .animated.active {
    animation-duration: {{section.settings.animation_time}};
    animation-fill-mode: both;
    -webkit-animation-duration: {{section.settings.animation_time}};
    -webkit-animation-fill-mode: both;
  }
{% endstyle %}


{% schema %}
{
  "name": "Image with text",
  "tag": "section",
  "class": "image-with-text-section",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "background_desktop_image",
      "label": "Desktop background image",
      "info": "Covers full screen width."
    },
    {
      "type": "image_picker",
      "id": "background_mobile_image",
      "label": "Mobile background image",
      "info": "Covers full screen width."
    },
    {
      "type": "header",
      "content": "Main image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "animation",
      "options":[
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeInUp",
          "label": "Fade In Up"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade In Left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade In Right"
        },
        {
          "value": "NoEffect",
          "label": "No Effect"
        }
      ],
      "default": "NoEffect",
      "label": "Select Animation"
    },
    {
      "type": "text",
      "id": "animation_time",
      "default": "0.2s",
      "label": "Animation Time",
      "info": "Must be a number and include 's' at the end. (Example, 0.2s)"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "adapt",
      "label": "Image height"
    },
    {
      "type": "select",
      "id": "image_hover",
      "options": [
        {
          "value": "easein",
          "label": "Ease in"
        },
        {
          "value": "noeffect",
          "label": "No effect"
        }
      ],
      "default": "noeffect",
      "label": "Image hover"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "default": "normal",
      "label": "Desktop image width",
      "info": "Adds padding to media area. Image is automatically optimized for mobile."
    },
    {
      "type": "select",
      "id": "mobile_image_width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large",
      "label": "Mobile image width",
      "info": "At Large image is automatically optimized for mobile."
    },
    {
      "type": "header",
      "content": "Layout options"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section padding",
      "default": "normal",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "Image first"
        },
        {
          "value": "text_first",
          "label": "Text first"
        }
      ],
      "default": "image_first",
      "label": "Desktop image placement"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "image_first",
          "label": "Image first"
        },
        {
          "value": "text_first",
          "label": "Text first"
        }
      ],
      "default": "image_first",
      "label": "Mobile image placement"
    },
    {
      "type": "header",
      "content": "Content options"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top",
      "label": "Desktop content position"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Desktop content alignment"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "No overlap"
        },
        {
          "value": "overlap",
          "label": "Overlap"
        }
      ],
      "default": "no-overlap",
      "label": "Content layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Mobile content alignment"
    }
  ],
  "blocks": [
    {
      "type": "eyebrow",
      "name": "Eyebrow",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Eyebrow",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Headline",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "Headline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h4",
              "label": "X-Small"
            },
            {
              "value": "h3",
              "label": "Small"
            },
            {
              "value": "h2",
              "label": "Medium"
            },
            {
              "value": "h1",
              "label": "Large"
            },
            {
              "value": "h0",
              "label": "X-Large"
            }
          ],
          "default": "h2",
          "label": "Headline size"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Headline color"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "caption",
              "label": "Caption"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "Uppercase"
            },
            {
              "value": "caption-with-letter-spacing--medium",
              "label": "Uppercase - Medium"
            },
            {
              "value": "caption-with-letter-spacing--large",
              "label": "Uppercase - Large"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "Text style"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color"
        }
      ]
    },
    {
      "type": "text",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text style",
          "default": "text-body",
          "options": [
            {
              "value": "caption",
              "label": "Caption"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "text-body",
              "label": "Body - Default"
            },
            {
              "value": "text-body-small",
              "label": "Body - Small"
            },
            {
              "value": "text-body-medium",
              "label": "Body - Medium"
            },
            {
              "value": "text-body-large",
              "label": "Body - Large"
            }
          ]
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color"
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Button 1 options"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_style_1",
          "label": "Style",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "link-1",
              "label": "Link style"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_arrow_1",
          "default": false,
          "label": "Display arrow next to button"
        },
        {
          "type": "header",
          "content": "Button 2 options"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "Label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "Style",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "link-1",
              "label": "Link style"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_arrow_2",
          "default": false,
          "label": "Display arrow next to button"
        },
        {
          "type": "header",
          "content": "Block options"
        },
        {
          "type": "checkbox",
          "id": "show_side_by_side",
          "default": false,
          "label": "Display buttons side-by-side"
        },
        {
          "type": "checkbox",
          "id": "show_separator",
          "default": false,
          "label": "Display buttons separator"
        },
        {
          "type": "color",
          "id": "separator_color",
          "label": "Separator color"
        }
      ]
    },
    {
      "type": "padding",
      "name": "Padding",
      "settings": [
        {
          "type": "number",
          "id": "mobile_padding_amount",
          "label": "Mobile padding (px)"
        },
        {
          "type": "number",
          "id": "desktop_padding_amount",
          "label": "Desktop padding (px)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}

