{% style %}
#Banner-{{ section.id }} .animated.active {
  animation-duration: {{section.settings.animation_time}};
  animation-fill-mode: both;
  -webkit-animation-duration: {{section.settings.animation_time}};
  -webkit-animation-fill-mode: both;
}
{% endstyle %}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}"
    class="banner banner--content-align-{{ section.settings.desktop_content_alignment }}
          banner--content-align-mobile-{{ section.settings.mobile_content_alignment }}
          {% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}
          {% if section.settings.show_container_mobile %} banner--mobile-content{%- endif -%}
          {% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}
          {% if settings.scroll_appear == "fadein" %} fadeIn {% endif %}"
    style="background-color: {{ section.settings.section_background_color }};">

  {%- if section.settings.desktop_image != blank or section.settings.mobile_image != blank -%}
    {%- render 'image-banner-media', desktop_image: section.settings.desktop_image, mobile_image: section.settings.mobile_image -%}
  {%- endif -%}

  {%- if section.blocks -%}
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
    <div class="banner__box"
         style="background: {{ section.settings.content_background_color }}; background: rgba({{ section.settings.content_background_color.red }}, {{ section.settings.content_background_color.green }}, {{ section.settings.content_background_color.blue }}, {{ section.settings.content_background_color_opacity | decimal | append: '.00' | divided_by: 100 | round: 2 }});">
      {%- render 'image-banner-content', blocks: section.blocks, animation: section.settings.animation -%}
    </div>
  </div>
  {%- endif -%}

</div>

{% schema %}
{
  "name": "Image banner",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Section background color",
      "info": "Only seen through transparent images or if no images are configured."
    },
    {
      "type": "color",
      "id": "content_background_color",
      "label": "Content container background color"
    },
    {
      "type": "range",
      "id": "content_background_color_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 100,
      "label": "Content container background color opacity"
    },
    {
      "type": "header",
      "content": "Desktop Options"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        },
        {
          "value": "middle-right",
          "label": "Middle Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
      ],
      "default": "middle-center",
      "label": "Desktop content position"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Desktop content alignment"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "Show background on desktop?",
      "info": "Info: If unchecked, the content area won't have a background. Ensure the content has high contrast against the image."
    },
    {
      "type": "header",
      "content": "Mobile Options"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Mobile content alignment"
    },
    {
      "type": "select",
      "id": "animation",
      "options":[
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeInUp",
          "label": "Fade In Up"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade In Left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade In Right"
        },
        {
          "value": "NoEffect",
          "label": "No Effect"
        }
      ],
      "default": "NoEffect",
      "label": "Select Animation"
    },
    {
      "type": "text",
      "id": "animation_time",
      "default": "0.2s",
      "label": "Animation Time",
      "info": "Must be a number and include 's' at the end. (Example, 0.2s)"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "Show content below image on mobile?"
    },
    {
      "type": "checkbox",
      "id": "show_container_mobile",
      "label": "Show background on mobile?",
      "default": false,
      "info": "Info: If unchecked, the content area won't have a background. Ensure the content has high contrast against the image."
    }
  ],
  "blocks": [
    {
      "type": "eyebrow",
      "name": "Eyebrow",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "eyebrow",
          "default": "Eyebrow",
          "label": "Eyebrow"
        },
        {
          "type": "color",
          "id": "eyebrow_color",
          "label": "Eyebrow color"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Headline",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "Headline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "frye-headline-0",
              "label": "X-Large"
            },
            {
              "value": "frye-headline-1",
              "label": "Large"
            },
            {
              "value": "frye-headline-2",
              "label": "Medium"
            },
            {
              "value": "frye-headline-3",
              "label": "Small"
            }, {
              "value": "frye-headline-4",
              "label": "X-Small"
            }, {
              "value": "frye-headline-5",
              "label": "Tiny"
            }, {
              "value": "frye-headline-6",
              "label": "Very Tiny"
            }, {
              "value": "frye-headline-7",
              "label": "Custom 1"
            }, {
              "value": "frye-headline-8",
              "label": "Custom 2"
            }
          ],
          "default": "frye-headline-1",
          "label": "Headline size"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Headline color"
        }
      ]
    },
    {
      "type": "text",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give customers details about the banner image(s) or content on the template.</p>",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text style",
          "default": "frye-body",
          "options": [
            {
              "value": "frye-body",
              "label": "Body - Default"
            },
            {
              "value": "frye-body-small",
              "label": "Body - Small"
            },
            {
              "value": "text-body-medium",
              "label": "Body - Medium"
            },
            {
              "value": "text-body-large",
              "label": "Body - Large"
            }, {
              "value": "frye-eyebrow",
              "label": "Eyebrow"
            }, {
              "value": "frye-pullquote",
              "label": "Pullquote"
            }, {
              "value": "caption",
              "label": "Caption"
            }, {
              "value": "subtitle",
              "label": "Subtitle"
            }
          ]
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Description color"
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Button 1 options"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_style_1",
          "label": "Style",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "primary-dark",
              "label": "Primary on Dark Background"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "secondary-dark",
              "label": "Secondary on Dark Background"
            },
            {
              "value": "link-1",
              "label": "Link style 1"
            },
            {
              "value": "link-1-dark",
              "label": "Link style 1 on Dark Background"
            },
            {
              "value": "link-2",
              "label": "Link style 2"
            },
            {
              "value": "link-2-dark",
              "label": "Link style 2 on Dark Background"
            }
          ]
        },
        {
          "type": "header",
          "content": "Button 2 options"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "Label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "Style",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "primary-dark",
              "label": "Primary on Dark Background"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "secondary-dark",
              "label": "Secondary on Dark Background"
            },
            {
              "value": "link-1",
              "label": "Link style 1"
            },
            {
              "value": "link-1-dark",
              "label": "Link style 1 on Dark Background"
            },
            {
              "value": "link-2",
              "label": "Link style 2"
            },
            {
              "value": "link-2-dark",
              "label": "Link style 2 on Dark Background"
            }
          ]
        },
        {
          "type": "header",
          "content": "Block options"
        },
        {
          "type": "checkbox",
          "id": "show_side_by_side",
          "default": false,
          "label": "Display buttons side-by-side"
        },
        {
          "type": "checkbox",
          "id": "show_separator",
          "default": false,
          "label": "Display buttons separator"
        },
        {
          "type": "color",
          "id": "separator_color",
          "label": "Separator color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
