{%- for block in blocks -%}
  {%- case block.type -%}
    {%- when 'eyebrow' -%}
      <div class="banner__eyebrow {{ block.settings.eyebrow_style }} {% unless section.settings.animation contains 'No' %} animated{% endunless%} {{ section.settings.animation }}" {{ block.shopify_attributes }} data-block-id="{{ block.id }}">
        {% assign block_selector = '#block-section-' | append: block.id %}
        {% style %}
        {% if block.settings.eyebrow_color  != 'rgba(0,0,0,0)' %}
        .banner__eyebrow {
          color: {{ block.settings.eyebrow_color  }};
        }
        {% endif %}
        {% endstyle %}

        {% if template contains 'collection' %}
          <span>{{ eyebrow_title | escape }}</span>
        {% endif %}
        <span>{{ block.settings.eyebrow | escape }}</span>
      </div>

    {%- when 'heading' -%}
      {% assign block_selector = '#block-section-' | append: block.id %}
      {% style %}
      {% if block.settings.heading_color  != 'rgba(0,0,0,0)' %}
      .banner__heading {
        color: {{ block.settings.heading_color  }};
      }
      {% endif %}
      {% endstyle %}

      <h2 class="banner__heading {% unless section.settings.animation contains 'No' %} animated{% endunless%} {{ section.settings.animation }} {{ block.settings.heading_size }}" {{ block.shopify_attributes }} data-block-id="{{ block.id }}">
        <span>{{ block.settings.heading | escape }}</span>
      </h2>

    {%- when 'text' -%}
      {% assign block_selector = '#block-section-' | append: block.id %}
      {% style %}
      {% if block.settings.text_color  != 'rgba(0,0,0,0)' %}
      .banner__text {
        color: {{ block.settings.text_color  }};
      }
      {% endif %}
      {% endstyle %}

      <div class="banner__text {{ block.settings.text_style }} {% unless section.settings.animation contains 'No' %} animated{% endunless%} {{ section.settings.animation }}" {{ block.shopify_attributes }} data-block-id="{{ block.id }}">
        <span>{{ block.settings.text }}</span>
      </div>

    {%- when 'button' -%}
      <div class="banner__button-wrapper {% if block.settings.show_side_by_side %}side-by-side{% endif %}" {{ block.shopify_attributes }} data-block-id="{{ block.id }}" id="block-section-{{ block.id }}">
        {%- if block.settings.button_label_1 != blank -%}
          {% if block.settings.button_style_1 == 'link-1' or block.settings.button_style_1 == 'link-1-dark' %}
            {% assign arrowDisplay = 'right' %}
          {% else %}
            {% assign arrowDisplay = '' %}
          {% endif %}

            {% render 'button',
              label: block.settings.button_label_1,
              link: block.settings.button_link_1,
              variation: block.settings.button_style_1,
              arrow: arrowDisplay,
              class: "banner__button small-hide"
            %}

            {% render 'button',
              label: block.settings.button_label_1,
              link: block.settings.button_link_1,
              variation: block.settings.button_style_1,
              arrow: arrowDisplay,
              class: "banner__button medium-hide large-up-hide"
            %}
        {%- endif -%}

        {%- if block.settings.button_label_2 != blank -%}
          {% if block.settings.button_style_2 == 'link-1' or block.settings.button_style_2 == 'link-1-dark' %}
            {% assign arrowDisplay2 = 'right' %}
          {% else %}
            {% assign arrowDisplay2 = '' %}
          {% endif %}

          {% if block.settings.show_separator %}
            <span class="banner__button-separator">|</span>
          {% endif %}

          {% render 'button',
            label: block.settings.button_label_2,
            link: block.settings.button_link_2,
            variation: block.settings.button_style_2,
            arrow: arrowDisplay2,
            class: "banner__button small-hide"
          %}

          {% render 'button',
            label: block.settings.button_label_2,
            link: block.settings.button_link_2,
            variation: block.settings.button_style_2,
            arrow: arrowDisplay2,
            class: "banner__button medium-hide large-up-hide"
          %}
        {%- endif -%}
        </div>

        {% assign block_selector = '#block-section-' | append: block.id %}
        {% style %}
        {{ block_selector }}.banner__button-wrapper {
          {% if block.settings.show_side_by_side %}
            display: inline-flex;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
          {% endif %}
        }

        {{ block_selector }}.banner__button-wrapper .banner__button-separator {
          {% if block.settings.show_side_by_side %}
            color: {{ block.settings.separator_color }};
          {% endif %}
        }
        {% endstyle %}
  {%- endcase -%}
{%- endfor -%}
