{% if yotpo-integration == 'header' %}
  <script>
      (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/{{ settings.key_yotpo_app_key }}/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script>

{% elsif yotpo-integration == 'pdp-main' %}

  {{ 'component-yotpo.css' | asset_url | stylesheet_tag }}

  <div
      id="yotpo-main-widget"
      class="yotpo yotpo-main-widget page-width"
      data-product-id="{{ product.id }}"
      data-name="{{ product.title | escape }}"
      data-url="{{ shop.url }}{{ product.url }}"
      data-image-url="{{ product.featured_image | img_url: 'large' | replace: '?', '%3F' | replace: '&','%26'}}"
      data-price="{{ variant.price | money_without_currency }}"
      data-currency="{{ shop.currency }}"
      data-description="{{ product.description | escape }}">
  </div>

{% elsif yotpo-integration == 'pdp-inline' %}

  <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>

{% endif %}
